@{
    ViewBag.Title = "книжный магазин";
}

<div>
    <h3>Рпспродажа книг</h3>
    <table>
        <tr>
            <td><p> Название книги </p></td>
            <td><p> Автор </p></td>
            <td><p> Стоимость </p></td>
            <td><p></p></td>
        </tr>
        @foreach(BookingAppStore.Models.Book b in ViewBag.Books)
        { 
            <tr>
                <td><p> @b.Name</p></td>
                <td><p> @b.Author</p></td>
                <td><p> @b.Price</p></td>
                <td><p><a href="/Home/Buy/@b.Id">Купить</a></p></td>
            </tr>
        }
    </table>
</div>